<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GO Pipeline</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% include "header.html" %}
    <section id="pageContent">
        <main role="main">
            <h2>
                Leaderboard Selection
            </h2>
            <div class="url_selectors">
                <select name="namespace" id="namespace">
                    <option value="biological_process">Biological Process</option>
                    <option value="molecular_function" selected>Molecular Function</option>
                    <option value="cellular_component">Cellular Component</option>
                </select>
                <select name="testing_set" id="testing_set">
                    <option value="cluster50">Cluster50</option>
                    <option value="random">Random</option>
                </select>
                <select name="testing_quality" id="testing_quality">
                    <option value="exp">Experimental Only</option>
                    <option value="non_IEA">Non-Electronic</option>
                </select>
                <button type="button" id="lb_submit">Change Leaderboard</button>
            </div>
                <!-- 
                    Sortable leaderboard for uploaded submissions. 
                    <Testing Set>{Cluster50, Random}
                    | Organization | F1 Score | AUC | Info. Weighted | Recall Metric | Model Description | 

                -->
            <table id="leaderboard_table">
                {% for header, col_name in zip(headings, col_names) %}
                <th class={{col_name}}>{{ header }}</th>
                {% endfor %}
                {% for row in data %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </main>
        {%include "sidebar.html" %}
    </section>
    <footer>
		<address>
			Contact: Andrew Dickson (amdickson at berkeley.edu)
		</address>
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/leaderboard.js') }}"></script>
</html>